// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import '../scss/partials/variables';


// Bootstrap
@import 'bootstrap/scss/bootstrap';


.navbar{
    height: 90px;
}

    .full-logo{
        height: 90px;
    }

    .mobile-logo{
        height: 50px;
    }

.bg-netflix{
    background-color: $blackNetflix;
}




// DASHBOARD


.dashboard-wrapper{
    background-color: $whiteNetflix;

    // SIDEBAR

    .sidebar{
        height: calc(100vh - 90px);
    }


    // DASHBOARD CONTENT
    
    .dashboard-content{
        height: calc(100vh - 90px);
    }
}