// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import '../scss/partials/variables';


// Bootstrap
@import 'bootstrap/scss/bootstrap';


.color-grey-netflix{
    color: $formNetflixBg;
}


.navbar{
    height: 100px;
    padding: 0;
    position: relative;
}

@media (min-width:767px) {
}

    .full-logo{
        height: 140px;
    }

.bg-netflix{
    background-color: $blackNetflix;
}

.navbar-transparent {
    background-color: transparent;
    box-shadow: none;
    
}

// BACKGROUND 

    
.bg-login {
    position: relative;
    height: 100vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/dace47b4-a5cb-4368-80fe-c26f3e77d540/8f47696b-edbd-41f9-9e6f-450e36eafbd9/IT-it-20231023-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    background-position: center;
}

.bg-login::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

@media (max-width:767px) {

    .bg-login{
        background: rgb(0, 0, 0,);
}

}

.bg-layer-black{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}



// LOGIN SECTION

.login-section{
    #email,#password{
        background-color: #333333;
        color: $whiteNetflix;
        border: none;  
    }
    
    #email::placeholder,#password::placeholder{
        color: #777777;
    }
    
    
    
    .size-button-login{
        width: 100%;
    }
    
    
    .bg-form{
        background-color: $formNetflixBg;
    }
    
    .button-netflix{
        background-color: $darkRedNetflix;
        color: $whiteNetflix;
        padding: 0.8rem;
    
        &:hover{
            transition: ease-out 0.5s;
            background-color: red;
            color: $whiteNetflix;
        }
    }
    
    .form-container {
        position: relative;
        label {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: 20px;
          margin-bottom: 1rem;
          transition: 300ms all;
        }
    }
    #email,#password{
        width: 100%;
        font-size: 0.85rem;
        &:valid + label,
        &:focus + label {
          padding-left: 1rem;
          padding-top: 1rem;
          padding-bottom: 1.5rem;
          transform: translateY(-20%);
          font-size: 0.7rem;
    }
    }
    
    
    
    
    .card-header{
        font-size: 2rem;
        font-weight: 500;
        color: $whiteNetflix;
        padding: 1rem 2rem;
        border-bottom: none;
    }
    .card-wrapper{
        width: 480px;
    }
    .card{
        border-radius: 0.5rem;
        background-color: rgba(0,0,0, 0.7);
        font-size: 0.85rem;
        height: 650px;
    }

    @media (min-width:992px){
        .card{
            padding: 1rem 2.5rem;
        }
    }
    
    .card-login{
        color: #777;
    }
    
}



// DASHBOARD


.dashboard-wrapper{
    background-color: $whiteNetflix;

    // SIDEBAR

    .sidebar{
        height: calc(100vh - 90px);
    }


    // DASHBOARD CONTENT
    
    .dashboard-content{
        height: calc(100vh - 90px);
    }
}

// REGISTER SECTION

.register-wrapper{

    .button-netflix{
        background-color: $darkRedNetflix;
        color: $whiteNetflix;
        &:hover{
            transition: ease-out 0.5s;
            background-color: red;
            color: $whiteNetflix;
        }
    }
}


.form-container {
    position: relative;
    label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 20px;
      margin-bottom: 1rem;
      transition: 300ms all;
      color: #777;
    }
    #email,#password{
        width: 100%;
        font-size: 0.85rem;
        &:valid + label,
        &:focus + label {
          padding-left: 1rem;
          padding-top: 1rem;
          padding-bottom: 1.5rem;
          transform: translateY(-20%);
          font-size: 0.7rem;
    }
    }
}





.card-header{
    font-size: 2rem;
    font-weight: 500;
    color: $whiteNetflix;
    border-bottom: none;
}
.card-wrapper{
    width: 480px;
}
.card{
    font-size: 0.85rem;
    height: 500px;
    border: none;
}

@media (min-width:992px){
    .card{
        padding: 1rem 2.5rem;
    }
}



.bg-login-navbar {
    position: relative;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/dace47b4-a5cb-4368-80fe-c26f3e77d540/8f47696b-edbd-41f9-9e6f-450e36eafbd9/IT-it-20231023-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    background-position: center;
}

.bg-login-navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}